.back-signin:hover{
    text-decoration: underline;
}
 .back-signin{
    margin: 20px;
 }

 .password-spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #bdbdbd;
    border-top: 3px solid #7927ff;
    border-radius: 50%;
    animation: spin 1s infinite linear;
    margin: auto; /* Center the spinner */
}

/* Spinner animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Center button content including spinner */
.btn.solid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Adjust as needed */
}
